.header {
    display: flex;
    flex-wrap: wrap;
  justify-content: space-between;
    height: 100px; /* 105/645 */
    width: 100%; /* 105/645 */
    border: 3px solid black;
    border-radius: 5px;
    background-color: crimson;
}
.search-bar {
 display: block;
 width: 16.24%; /* 105/645 */
 height: 40pc;
 border: 3px solid black;
 border-radius: 5px;
 float: left;
 background-color: crimson;
}
button {
    height: 3pc; /* 105/645 */
    width: 5pc; /* 105/645 */
}
input {
    width: 70px;/* 105/645 */
}
.grid {
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
    gap: 5px;
    transform-style: preserve-3d;
    padding-top: 30px;
    padding-bottom: 30px;
}

.pokemon {
    display: block;
    margin: auto;
    background: crimson;
    border: 3px solid black;
    border-radius: 5px;
}
.footer {
    height: 80px; /* 105/645 */
    width: 100%; /* 105/645 */
    border: 3px solid black;
    border-radius: 5px; 
    display: block; 
}
img {
    height: 5pc;
    width: 5pc;
    border: 3px solid black;
    border-radius: 5px;
    outline: 2px solid black;
}
.background {
    background-color: red;
}